/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the background image horizontally and vertically */
    color: #fff;
    text-align: center;
    height: 100vh; /* Ensure body takes up the full viewport height */
}

.container {
    max-width: 400px; /* Adjust container width as needed */
    margin: 100px auto; /* Center container vertically and horizontally */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center; /* Center the heading */
}

form {
    text-align: center; /* Center the form elements */
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%; /* Full width */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Add spacing between inputs */
    border: 1px solid #000000; /* Border color */
    border-radius: 5px;
    color: #000; /* Text color */
}

input[type="submit"] {
    background-color: #0077ff; /* Black button */
    color: #ffffff; /* White text color */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #333; /* Darker black on hover */
}

p {
    text-align: center; /* Center the paragraph */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f7f7f7;
    padding: 10px 0;
    text-align: center;
}
